::placeholder {
  color: #e6e6e6;
  font-style: italic;
}

.headerInput {
  padding: 0 10px 0 10px;
  display: flex;
  background-color: #fefefe;
  width: 530px;
  height: 63px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.newTodo {
  border: none;
  width: 90%;
  height: 90%;
  font-size: 24px;
}

.checkAll {
  width: 8%;
  height: 80%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .headerInput {
    display: inline-block;
    background-color: #fefefe;
    width: 100%;
    height: 63px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}