.todoList {
  display: flex;
  background-color: #fefefe;
  width: 550px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todoList ul {
  margin: 0;
  padding: 0;
}

.todoList li {
  list-style-type: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .todoList {
    display: flex;
    background-color: #fefefe;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .todoList ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .todoList li {
    list-style-type: none;
  }
}