.listItem {
  display: flex;
  background-color: #fefefe;
  width: 550px;
  height: 63px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo {
  border: none;
  width: 100%;
  height: 90%;
  font-size: 24px;
}

.check {
  background-color: #fefefe;
  color: #e6e6e6;
  border: solid 1px maroon;
  border-radius: 100px;
  width: 8%;
  height: 100%;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .listItem {
    display: flex;
    background-color: #fefefe;
    width: 100%;
    height: 63px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .deleteTodo{
    justify-self: flex-end;
  }
}