
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: none;
}

.logo {
  margin: 30px;
  font-size: 100px;
  font-style: normal;
  font-weight: 100;
  color: #ead7d7;
}


